body {
    background-image: url("orangewall.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

#headlineContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#headline{
    width: 60%;   
}
.container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.loggor{
    display: flex;
    justify-content: center;
}