body {
    background-image: url("sten.jpg");
    background-repeat: repeat;
}

/*Rubrik till YF*/
#yRub{
    background-color: black;
    color:yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:5px;
    border-radius: 5px;
    width: 400px;
    margin : auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 2px rgba(217, 161, 7, 0.8);
}

#tackRub{
    background-color: yellow;
    color:purple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:5px;
    border-radius: 5px;
    width: 400px;
    margin : auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 2px rgba(91, 255, 76, 0.8);
}

/*Allmänt för alla*/
label{
    display: inline-block;
    font-family: 'Comic Sans MS', cursive;
    background-color: #9cdb72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.melodi{
    font-style: italic;
}

.songs{
    margin : 0;
}

.lista{
    margin: 15px auto;
    padding: 2%;
    background-color: white;
    width: 348px;
    border-radius: 10px;
    text-align: center;
    transition: 1.0s linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Låt1*/
#check1{
    display : none;
}

#songtext1{
    display : none;
}

#check1:checked ~#songtext1{
    display: block;
}

#check1:checked ~ label{
    visibility: hidden;
}

#check1:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}
/*Låt 2*/

#check2{
    display : none;
}

#songtext2{
    display : none;
}

#check2:checked ~#songtext2{
    display: block;
}

#check2:checked ~ label{
    visibility: hidden;
}

#check2:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 3*/


#check3{
    display : none;
}

#songtext3{
    display : none;
}

#check3:checked ~#songtext3{
    display: block;
}

#check3:checked ~ label{
    visibility: hidden;
}

#check3:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 4*/

#check4{
    display : none;
}

#songtext4{
    display : none;
}

#check4:checked ~#songtext4{
    display: block;
}

#check4:checked ~ label{
    visibility: hidden;
}

#check4:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 5*/


#check5{
    display : none;
}

#songtext5{
    display : none;
}

#check5:checked ~#songtext5{
    display: block;
}

#check5:checked ~ label{
    visibility: hidden;
}

#check5:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}
/*Låt 4*/


#check4{
    display : none;
}

#songtext4{
    display : none;
}

#check4:checked ~#songtext4{
    display: block;
}

#check4:checked ~ label{
    visibility: hidden;
}

#check4:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 6*/

#check6{
    display : none;
}

#songtext6{
    display : none;
}

#check6:checked ~#songtext6{
    display: block;
}

#check6:checked ~ label{
    visibility: hidden;
}

#check6:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 7*/

#check7{
    display : none;
}

#songtext7{
    display : none;
}

#check7:checked ~#songtext7{
    display: block;
}

#check7:checked ~ label{
    visibility: hidden;
}

#check7:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 8*/

#check8{
    display : none;
}

#songtext8{
    display : none;
}

#check8:checked ~#songtext8{
    display: block;
}

#check8:checked ~ label{
    visibility: hidden;
}

#check8:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 9*/

#check9{
    display : none;
}

#songtext9{
    display : none;
}

#check9:checked ~#songtext9{
    display: block;
}

#check9:checked ~ label{
    visibility: hidden;
}

#check9:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}

/*Låt 10*/

#check10{
    display : none;
}

#songtext10{
    display : none;
}

#check10:checked ~#songtext10{
    display: block;
}

#check10:checked ~ label{
    visibility: hidden;
}

#check10:checked ~label:after{
    content: 'Stäng sång';
    background-color: #db7e72;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    visibility: visible;
    font-family: 'Comic Sans MS', cursive;
}